<div class="container">
  <h2>Login</h2>
  <div>
    <form action="/auth/login" method="POST">

      <label>Email</label>
      <input type="email" name="email" placeholder="Please Enter Your Email" />
      
      <label>Password</label>
      <input type="password" name="password" placeholder="********" />
      
      {{#if error}}
      <p style="color:rgb(218, 90, 90)">{{ error }}</p>
      {{/if}}
      
      <button type="submit">Login</button>
      <div>
        <h2> Not Registered?</h2>
        <h2><a href="/auth/signup">Log in here!</a></h2>
      </div>

    </form>
  </div>
</div>