<h1>¡Create a new account!</h1>

<div  id="form-signup">
  <form class="form-signup" action="/auth/signup" method="POST">
 
    <label>Username</label>
      <input type="text" name="username" placeholder="User Name" />
 
    <label>Email</label>
      <input type="email" name="email" placeholder="Please Enter Your Email" />
    
    <label>Password</label>
      <input type="password" name="password" placeholder="********" />

      {{#if error}}
      <p style="color: red;">{{error}}</p>
      {{/if}}
 
    <button type="submit">Create account</button>
 
  </form>
  <div>
      <h2> Already a User?</h2>
      <h2><a href="/auth/login">Log in here!</a></h2>
      <h2><a href="/">Back To Home</a></h2>
    </div>
</div>