

<div>
  <form action="/products/create" method="POST">
 
    <label>Adress</label>
      <input type="text" name="adress" placeholder="C/Pamplona 94 " />
    <br>
          
    <label>Phone Number</label>
      <input type="number"  name="phoneNumber" placeholder="652869324" />
    
    <label for="method">Payment method</label>
    <select id="method" name="method">
      <option value="Credit Card">Credit Card</option>
      <option value="In cash">In cash</option>
    
</div>