<div class="success">
    
   <h2>Payment Succsessfull!</h2>
   <i style="color:green"class='bx bxs-check-circle bx-lg'></i>
   <p>Thank You For Using Our Services! We will love to have your business again!</p>

   <button class="cancelbtn"><a href="/">Back to home</a></button>    
</div>
