<div class="success">
   <h1>Payment Succsessfull</h1>
   <i class="fa-regular fa-square-check fa-x7"></i>
   <p>Thank You For Using Our Services! We will love to have your business again!</p>

   <button class="cancelbtn"><a href="/">Back to home</a></button>    
</div>