<div class="about-container" style="font-family: 'Open Sans', sans-serif;">
    <div class="our-story">
        <i class="fas fa-solid fa-book-open fa-5x"></i>
        <h1>Our Story</h1>
        <p>
            Born from the desire for natural solutions to the physical and mental stresses of our modern-day lifestyles, Chill&Pill is a wellness brand for the cannabis-curious. The universe of research around cannabis use is expanding every day, but here’s what we already know. Cannabidiol or CBD is one of 100 active compounds present in the cannabis plant and has proven extremely effective in managing stress and anxiety. It can provide relief from chronic pain, and improve both mood and appetite almost instantly. CBD can soothe skin inflammation, manage insulin levels or ease you into a restful night’s sleep. CBD is still not as widely-accessible or as commonly-consumed in India as you would think. We’re here to change that.
        </p>
        <p>
            Chill&Pill is a gateway to the possibilities of cannabis use in reimagining the ways in which we live, think and feel.Our clinically-tested, vegan and cruelty-free range of Full-Spectrum CBD tinctures and topicals combine all the best principles of Ayurveda with intensive lab research. And yes, that means a healthier gut, glowing skin and more control over the mind. The Chill&Pill experience is free from stigma and offers a seamless process of discovery, innovative products of the highest quality, complete information about usage and dosage, and in-house doctor consultations. Our goal? To be your friendly guide and easy-going companion on your quest for peaceful harmony between the body and mind.
        </p>
    </div>
    <div class="founders">
        <h1>Meet The Founders</h1>
    
        <div>
        <div class="role">
        <h2>Josep Cortes</h2>
        <h5>Chief financial officer</h5>
            </div>
       <img src="/images/josep.jpg" alt="Chief executive officer" onerror="this.remove()">

    </div>
    <div>
        <div class="role">
        <h2>Syed Wajahat Ali</h2>
        <h5>Chief executive officer</h5>
        
        </div>
         
       <img src="/images/me 2.jpeg" alt="Chief financial officer" onerror="this.remove()">
    
    </div>

    </div>
    </div>
</div>