
<header class="showcase">  
    <div class="content">
        <img src="/images/Logo.png" class="logo" alt="Chill and pill Logo" >
    
    <div class="title">
        Natural. Energetic. Relaxing.
    </div>
        <div class="text">
            Thank you very much for your visit! CHILL & PILL is a company that was born in Barcelona as a result of a love for misunderstood nature. 
        </div>
    </div>
    </header>

    <section class="products">
        <div class="container grid-3 center">
            <div>
                <i class=""></i>
                <h3>CBD Oils</h3> 
                <p>Please check our Youtube Channel for some insight</p>               
            </div>
            <div>
                <i class="fab fa-youtube fa-3x"></i>
                <h3>CBD Flowers</h3> 
                <p>Please check our Youtube Channel for some insight</p>               
            </div>
            <div>
            
                <h3>Our History</h3> 
                <p>Please check our Youtube Channel for some insight</p>               
            </div>
        </div>
        
    </section>
        
    <section class="about b-light">
        <div class="container">
            <div class="grid-2">
                <div class="center">
                    <i class="fas fa-solid fa-info fa-6x"></i>
                </div>
                <div>
                    <h3>About us</h3>
    <p>We know that there can be many questions about CBD, that's why we have team of professionals to clarify any questions you may have about our products. We are available 24 hours & 365 days.</p>
    <h4>Don't hesitate calling us, Our first priority are YOU!</h4>
                </div>
            </div>
        </div>
    </section>
    <footer class="center b-dark">
        <p> Chill&Pill &copy; 2022</p>
    </footer>