
<header class="showcase">  
    <div class="content">
        <img src="/images/Logo.png" class="logo" alt="Chill and pill Logo" >
    
    <div class="title">
        Natural. Energetic. Relaxing.
    </div>
        <div class="text">
            Thank you very much for your visit! CHILL & PILL is a company that was born in Barcelona as a result of a love for misunderstood nature. 
        </div>
    </div>
    </header>

    <section class="products">
        <div class="container grid-3 center">
            <div>
                <i style="color:rgb(60, 60, 60); margin-bottom:10px;"class="fas fa-regular fa-percent fa-3x fa-flip"></i>
                <h3>100% CBD Extract</h3> 
                <p style="margin-top:10px">Built on the foundation of the incredible versatility of cannabis extract</p>               
            </div>
            <div>
                <i style="color:rgb(248, 152, 116); margin-bottom:10px;"class="fas fa-regular fa-certificate fa-3x fa-bounce"></i>
                <h3>Legal</h3> 
                <p style="margin-top:10px">Licensed under the Government of Spain</p>               
            </div>
            <div>
                <i style="color:rgb(251, 193, 57); margin-bottom:10px;"class="fas fa-regular fa-box fa-3x"></i>
                <h3>Premium Products</h3> 
                <p style="margin-top:10px">Made with highest quality cannabidiol (CBD) available in the country</p>               
            </div>
        </div>
        
    </section>
        
    <section class="about b-light">
        <div class="container">
            <div class="grid-2">
                <div class="center">
                    <i class="fas fa-solid fa-info fa-7x"></i>
                   
                </div>
                <div>
                    <h3>Need Information before buying?</h3>
    <p>We know that there can be many questions about CBD, that's why we have team of professionals to clarify any questions you may have about our products. We are available 24 hours & 365 days.</p>
    <h4>Don't hesitate calling us, Our first priority are YOU!</h4>
    <i class=" fas fa-light fa-phone-arrow-down-left fa-3x"></i>
                </div>
            </div>
        </div>
    </section>
    <footer class="center b-dark">
        <p> Chill&Pill &copy; 2022</p>
    </footer>