
<header class="showcase">  
    <div class="content">
        <img src="/images/Logo.png" class="logo" alt="Chill and pill Logo" >
    
    <div class="title">
        Natural. Energetic. Relaxing.
    </div>
        <div class="text">
            Thank you very much for your visit! CHILL & PILL is a company that was born in Barcelona as a result of a love for misunderstood nature. 
        </div>
    </div>
    </header>

    <section class="services">
        <div class="container grid-3">
            <div>
                <i class="fab fa-youtube fa-3x"></i>
                <h3>CBD Oils</h3> 
                <p>Please check our Youtube Channel for some insight</p>               
            </div>
            <div>
                <i class="fab fa-youtube fa-3x"></i>
                <h3>CBD Flowers</h3> 
                <p>Please check our Youtube Channel for some insight</p>               
            </div>
            <div>
                <i class="fab fa-briefcase fa-3x"></i>
                <h3>Our History</h3> 
                <p>Please check our Youtube Channel for some insight</p>               
            </div>
        </div>
    </section>

    <section class="about">
        <div class="container">
            <div class="grid-2">
                <div class="center">
                    <i class="fas fa-laptop-code fa-10x"></i>
                </div>
                <div>
                    <h3>About us</h3>
    <p>We know that there can be many questions about CBD, that's why we have team of professionals to clarify any questions you may have about our products. We are available 24 hours & 365 days.</p>
    <h4>Don't hesitate calling us, Our first priority are YOU!</h4>
                </div>
            </div>
        </div>
    </section>
    <footer class="center">
        <p> Chill&Pill &copy; 2022</p>
    </footer>



<div id="landing">
    <div id="landing-text">
        <div id="landing-text-inner">
            <h1>Welcome to PILL&CHILL</h1>
            <p>Thank you very much for your visit! CHILLPILL is a company that was born in Barcelona as a result of a love for misunderstood nature. Hemp, Cannabis Sativa L., is one of the oldest plants on our planet and has been of great use to humanity throughout history. Due to its great versatility, this plant presents many sources of wealth in all its parts from which fibers, food, medicine, fuel energy and many more applications are obtained. Buying CBD oil contributes to improving your quality of life, see our following options.</p>
            <h3>Take a pill & relax</h3>
            <a href="/products" class="landing-btn" id="view-work">Discover Our Products</a>
        </div>
    </div>
    <div id="landing-image"></div>
</div>
<div id="images">
    <div id="header">

    </div>
    <img src="../public/images/landing.jpeg" alt="CBD Products">
</div>

<div id="questions">
    <h2>Doubts About CBD?</h2>
    <h4>We got your back!</h4>
    <p>We know that there can be many questions about CBD, that's why we have team of professionals to clarify any questions you may have about our products. We are available 24 hours & 365 days.</p>
    <h4>Don't hesitate calling us, Our first priority are YOU!</h4>
</div>
<div id="last">
    <h2>Doubts About CBD?</h2>
    <h4>We got your back!</h4>
    <p>We know that there can be many questions about CBD, that's why we have team of professionals to clarify any questions you may have about our products. We are available 24 hours & 365 days.</p>
    <h4>Don't hesitate calling us, Our first priority are YOU!</h4>
</div>
<div>
    <h2> Do you want to join us?</h2>
    <h2><a href="/auth/signup">Sign up here!</a> </h2>
</div>
