
<div id="landing">
    <div id="landing-text">
        <div id="landing-text-inner">
            <h1>Welcome to PILL&CHILL</h1>
            <p>Thank you very much for your visit! CHILLPILL is a company that was born in Barcelona as a result of a love for misunderstood nature. Hemp, Cannabis Sativa L., is one of the oldest plants on our planet and has been of great use to humanity throughout history. Due to its great versatility, this plant presents many sources of wealth in all its parts from which fibers, food, medicine, fuel energy and many more applications are obtained. Buying CBD oil contributes to improving your quality of life, see our following options.</p>
            <h3>Take a pill & relax</h3>
            <a href="/products" class="landing-btn" id="view-work">Discover Our Products</a>
        </div>
    </div>
    <div id="landing-image"></div>
</div>
<div id="images">
    <div id="header">

    </div>
    <img src="../public/images/landing.jpeg" alt="CBD Products">
</div>

<div id="questions">
    <h2>Doubts About CBD?</h2>
    <h4>We got your back!</h4>
    <p>We know that there can be many questions about CBD, that's why we have team of professionals to clarify any questions you may have about our products. We are available 24 hours & 365 days.</p>
    <h4>Don't hesitate calling us, Our first priority are YOU!</h4>
</div>
<div id="last">
    <h2>Doubts About CBD?</h2>
    <h4>We got your back!</h4>
    <p>We know that there can be many questions about CBD, that's why we have team of professionals to clarify any questions you may have about our products. We are available 24 hours & 365 days.</p>
    <h4>Don't hesitate calling us, Our first priority are YOU!</h4>
</div>
<div class="nav-container">
   <div class="navigation">
    <ul>
        <li class="list active">
            <a href="/">
                <span class="icon"><ion-icon name="home-outline"></ion-icon></span>
                <span class="text">Home</span>
            </a>
        </li>
        <li class="list">
            <a href="#">
                <span class="icon"><ion-icon name="cart-outline"></ion-icon></span>
                <span class="text">CBD Shop</span>
            </a>
        </li>
        <li class="list">
            <a href="/auth/profile">
                <span class="icon"><ion-icon name="person-outline"></ion-icon></span>
                <span class="text">Account</span>
            </a>
        </li>
        <li class="list">
            <a href="/about">
                <span class="icon"><ion-icon name="information-outline"></ion-icon></span>
                <span class="text">About</span>
            </a>
        </li>
        <div class="indicator"></div>
    </ul>

