
<header class="header">  
    <img src="/images/Logo.png" width="100px" alt="Chill and pill Logo" onerror="this.remove()"/>
    <h1>Chill&Pill</h1>
    <h2>Natural. Energetic. Relaxing.</h2>
</header>

    <section class="products">
            <div>
                <i class="fas fa-regular fa-percent fa-3x fa-flip"></i>
                <h3>100% CBD Extract</h3> 
                <p style="margin-top:10px">Built on the foundation of the incredible versatility of cannabis extract</p>               
            </div>
            <div>
                <i class="fas fa-regular fa-certificate fa-3x fa-spin"></i>
                <h3>Legal</h3> 
                <p style="margin-top:10px">Licensed under the Government of Spain</p>               
            </div>
            <div>
                <i class="fas fa-regular fa-box fa-3x"></i>
                <h3>Premium Products</h3> 
                <p style="margin-top:10px">Made with highest quality cannabidiol (CBD) available in the country</p>               
            </div>
    </section>
        
    <section class="info-section">
        <i class="fas fa-solid fa-info fa-3x"></i>
        <div>
            <h3>Need Information before buying?</h3>
            <br/>
            <p>We know that there can be many questions about CBD, that's why we have team of professionals to clarify any questions you may have about our products. We are available 24 hours & 365 days.</p>
            <p>Don't hesitate calling us, Our first priority are YOU!</p>
            <i class=" fas fa-light fa-phone-arrow-down-left fa-3x"></i>
        </div>
    </section>

    <footer class="center b-dark">
        <p> Chill&Pill &copy; 2022</p>
    </footer>