<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <script src="https://kit.fontawesome.com/95c92dc338.js" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='/stylesheets/404page.css' rel="stylesheet"/>
  <link href='/stylesheets/home.css' rel="stylesheet"/>
  

  <title>CHILLPILL</title>
</head>
<body>
    {{{ body }}}

</body>
</html>