<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <script src="https://kit.fontawesome.com/95c92dc338.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <link rel="icon" href="images/Logo.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
</style>
  <link href='/stylesheets/home.css' rel="stylesheet"/>
  <link href='/stylesheets/about.css' rel="stylesheet"/>
  <link href='/stylesheets/404page.css' rel="stylesheet"/>
  <link href='/stylesheets/products.css' rel="stylesheet"/>
  <link href='/stylesheets/signup.css' rel="stylesheet"/>
  <link href='/stylesheets/cart.css' rel="stylesheet"/>
  <link href='/stylesheets/payment.css' rel="stylesheet"/>
  <link href='/stylesheets/paysuccess.css' rel="stylesheet"/>
  <link href='/stylesheets/profile.css' rel="stylesheet"/>
  <link href='/stylesheets/nav.css' rel="stylesheet"/>

  
  

  <title>CHILLPILL</title>
</head>
<body>
  {{{ body }}}
   <nav>
    <ul>
      <li><a href="/"><i class='bx bx-home-alt-2'></i></a></li>
      <li><a href="/cart"><i class='bx bx-cart'></i></a></li>
      <li><a href="/products"><i class='bx bx-store-alt' ></i></a></li>
      <li><a href="/about"><i class='bx bxs-info-circle' ></i></a></li>
       <li><a href="/auth/profile"><i class='bx bxs-user' ></i></a></li>
      
    </ul>
   
</body>
</html>