body {
  background: rgba(141, 175, 4, 0.972);
  margin:0;
  color:rgb(255, 255, 255);
  font-family: 'Segoe UI', Tahoma, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

.showcase::after{
  content:'';
  height: 100vh;
  width:100%;
  background-image: url('/images/bglanding.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  filter:blur(10px);
  -webkit-filter: blur(10px);
  transition:all 5000ms;
}

.showcase:hover::after{
  filter:blur(0px);
  -webkit-filter: blur(0px);
}

.showcase:hover .content {
  filter:blur(2px);
  -webkit-filter: blur(2px);
}

.content {
position:absolute;
z-index:1;
top:10%;
left:50%;
margin-top: 105px;
margin-left:-135px;
width: 450px;
height: 350px;
text-align: center;
transition: all 1000ms;
}

.content .logo {
height: 380px;
width: 380px;

}

.content .title{
  font-size: 1.5rem;
  font-weight: 400px;
  font-size: 2.2rem;
  margin-top:1rem;
  
}

.content .text {
  line-height: 1.7;
  margin-top: 1rem;
  font-size: 1.5rem;
  width: 100%;
  color: rgb(68, 85, 192);
}


.container {
  max-width: 960px;
  margin: auto;
  overflow:hidden;
  padding: 4rem 1rem;
} 

.grid-3 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3,1fr);
}

#home {
  
  border: none;
  color: rgb(101, 178, 14);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  margin-left: 50%;
  margin-bottom: 3%;
  transition-duration: 0.4s;
  cursor: pointer;

}

 #home:hover {
  background-color: #4CAF50;
  color: white;
}

.grid-2 {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2,1fr);
}
.center {
  text-align: center;
  margin:auto;
}

footer {
  padding:1.5rem;
}
.b-light{
  background: #f4f4f4;
  color:#333;
}
.b-dark{
  background: rgb(162, 172, 110);
  color:#f4f4f4;
}



/* Mobile */
@media(max-width:560px){
.showcase::after {
  height: 50vh;
}
.content .logo {
  height: 180px;
  width: 180px;
  
  }
  .content .title{
    font-weight: 400px;
    font-size: 1.7rem;
    margin-top:1rem;
    
  }


.content .text {
  display: none;
}

  .content {
  margin-top:2%;
  margin-left: -55%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.grid-3 {
  grid-template-columns: 1fr;
  
}
.grid-2 {
  grid-template-columns: 1fr;
  
}
.products div {
  border-bottom: #333 dashed 1px;
  padding: 1.2rem 1rem;
}

#home {
 margin-left: 95px;
 border: none;
}

}

@media (max-height:500px){
  .content .title,
  .content .text {
    display: none;
  }

  .content {
    top:-50px;
    left:350px;
  }
  .content .logo {
    height: 280px;
    width: 280px;
    
    }

}