@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');


/**** Color variables ****/
:root {
  --primary-blue: #17c3b2;
  --primary-orange: #fbe6c4;
  --light-blue: lightcyan;
  --basic-white: #fdfdfd;
  --secondary-red: #fe6d73;
}
:root {
    --light-green: #82b851;
    --dark-green: #5d7e4c;
    --orange: #f17f35;
    --light-orange: #f2a16a;
    --text-color: rgb(47, 47, 47);
    --basic-white: #f4f4f4;
    font-size: 16px;
  }

nav {
  padding: 20px;
  width: 100%;
  background: var(--basic-white);
  position: fixed;
  bottom: 0;
  border-radius: 20px 20px 0 0;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

nav ul li a i {
  font-size: 30px;
  color: rgb(252, 171, 79);
}