.success{
    text-align: center;
    margin: 20px 30px;
    
}

.success p {
    color: var(--grey);
    margin: 20px 30px;
}

.success i {
    width: 50px;
}

.success h2 {
    margin: 25px 0;
}

.success i {
    color: green;
    font-size: 150px;
    position: relative;
    left: -50px;
    

}
