.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 10px;
  margin: 1rem 0;
  padding: 20px;
}

.card button a {
  color: white;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  padding: 12px;
  color: white;
  background-color: var(--light-green);
  text-align: center;
  width: 100%;
  font-size: 18px;
}

.detail img {
  margin: 20px 0;
}