/* .profile-container {
    width: 80%;
    margin:20px;    
}

.profile-container h1 {
    font-size: 2rem;
    color: var(--light-orange);

}

.profile-container form button {
    border-radius: 20px;
} */


