
{{#each productsfromDB}}
<div class="card">
   <img class="card__image" src="{{this.image}}" />
   <main class="card__content">
      <small class="card__tag">Technology</small>
      <h1 class="card__head">{{this.title}}
      </h1>
      <span class="card__date">Sep. 10, 2020</span>
      <p class="card__text">{{this.description}}.</p>
      <button> <a href="">products/details/{{this._id}}</a> Details</button>
   </main>
</div>
{{/each}}

