<h1>¡Create a new product!</h1>

<div>
  <form action="/products/create" method="POST">
 
    <label>Name</label>
      <input type="text" name="name" placeholder="Name of the product" />
    <br>
    <label>Oil</label>
      <input type="radio" name="categoryOil" placeholder="Oil" />
    <br>
    {{!-- Select con dos categorías --}}
    <br>   
    <label>Price</label>
      <input name="price" placeholder="€" />
    <br>   
    <label>Cbd</label>
      <input name="cbd" placeholder="%" />
    <br>
    <label>Description</label>
      <input name="description" placeholder="Describe the product" />
    <br>
    <label>Image</label>
      <input name="image" placeholder="" />
    <br>

    {{#if error}}
    <p style="color: red;">{{ error }}</p>
    {{/if}}
    <button type="submit">Create Product</button>
 
  </form>
</div>