<h1>¡Create a new product!</h1>

<div>
  <form action="/products/create" method="POST">
 
    <label>Name</label>
      <input type="text" name="name" placeholder="Oil/Flower" />
    <br>
    <label>Class</label>
      <input type="text" name="class" placeholder="sativa/indica" />
    <br>   
    <label>Price</label>
      <input name="price" placeholder="€" />
    <br>   
    <label>Cbd</label>
      <input name="cbd" placeholder="%" />
    <br>
    <button type="submit">Create Product</button>
 
  </form>
</div>